html, body {
    background: #89ADCF;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
body {
    padding: 200px 0 0 0;
}
h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.25em;
    font-weight: bold;
    letter-spacing: 2px;
}
p {
    font-family: 'Merriweather', serif;
    font-size: 1em;
}
.banner-container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}
.title-container {
    text-align: center;
    background: #fff;
}
.title-container p {
    color: #4E5260;
    padding: 0px 15px 15px 15px;
}
.banner-wave-container {
    position: relative;
    overflow: hidden;
    height: 150px;
    width=100vw;
}
.banner-wave-curve {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.weather-container {
    width: 250px;
    margin: 1em auto;
}
.weather-container h2, p {
    color: #fff;
    margin: 0px;
    padding: 0px;
}
.orange-text {
    color: #eb4e15;
}
.subheading-text {
    margin: 10px 0px;
    color: #FF9B50;
}
.sketch-container {
    width: auto;
    text-align: center;
}
@media screen and (max-width: 600px){
.update-container {
    width: 250px;
    margin: 0px auto;
    padding: .5em 2em;
}
.current-view-container {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.title-container h1 {
    color: #4E5260;
    font-size: 2.25em;
    padding: .5em 1.5em;
    margin: 0px;
    background: #fff;
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 2px;
}
.title-container p {
    padding: .5em 1.5em;
}
.nz-sketch {
    max-height: 425px;
    max-width: 425px;
    margin: 0px auto;
    z-index: 1;
}
.live-stream {
    width: 100%;
    height: calc(100vw * 0.5625);
}
}

@media screen and (min-width: 600px){

.title-container h1 {
    color: #4E5260;
    font-size: 2.5em;
    padding: 20px;
    margin: 0px;
    background: #fff;
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 2px;
}
.nz-sketch {
    max-height: 600px;
    max-width: 600px;
    margin: 0px auto;
    z-index: 1;
}
.picture-container iframe {
    min-width: 600px;
    min-height: 360px;
}
.banner-wave-container, .ryan-wave-container {
    display: none;
}
.ryan-container {
    display: grid;
    grid-template-areas:
        'top-left top-right'
        'bot-left bot-right';
}
.update-container {
    display: block;
    width: 400px;
}
.top { grid-area: top-left; margin: 20px; padding: 10px}
.bottom { grid-area: bot-left; margin: 20px; padding: 10px}
.current-view-container { grid-row: top-right / bot-right; }

.live-stream {
    width: 288px;
    height: 108px;
}
}

.ryan-container {
    background: #2D776A;
    z-index: 2;
    width: 100%
}
.ryan-container h2 {
    color: #FFCA39;
}
.ryan-container {
    color: #fff;
}
.ryan-wave-container {
    position: relative;
    background: #89ADCF;
    overflow: hidden;
    height: 5em;
    width: 100vw;
    margin: -50px 0px 0px 0px;
}
.ryan-wave-curve {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
}
.current-view-container h2 {
    text-align: center;
}

.text-username {
    color: black;
    display: inline;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
}
.text-light {
    font-family: Arial, sans-serif;
    color: grey;
    font-weight: 100;
}
.avatar-panel {
    width: 50px;
    margin-right: 10px;
}
.avatar {
    border-radius: 100px;
    width: 50px;
}
@media only screen and (min-width: 1400px) {
    .tweet-container {
        width: 80%;
    }
  }
.tweet-container {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgrey;
    padding: 15px;
    background: #fff;
}
.tweet-header p, span, time {
    margin-right: 5px;
}
.tweet-header span::after {
    content: " \2022"
}
.tweet-panel {
    display: flex;
    flex-direction: column;
}
.tweet-body p {
    font-family: Helvetica, sans-serif;
    color: black;
}
.tweet-media {
    width: 100%;
    padding: 20px 0 10px 0;
    border-radius: 20px;
}
