html {
    font-family: sans-serif;
    background: #89ADCF;
}
h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.25em;
    font-weight: bold;
    letter-spacing: 2px;
}
p {
    font-family: 'Merriweather', serif;
}
.banner-container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}
.title-container {
    text-align: center;
}
.title-container h1 {
    color: #4E5260;
    padding: 20px;
    margin: 0px;
    background: #fff;
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 2px;
}
.wave-container {
    position: relative;
    overflow: hidden;
    height: 50px;
}
.banner-container-curve {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.weather-container {
    margin: 150px auto 10px 15%;
}
.weather-container h2, p {
    color: #fff;
    padding: 0px;
    margin: 0px;
}
.time-text {
    color: #EB6E4B;
}
.sketch-container {
    background-image: url("new-zealand-map-with-icon-vector-illustration.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 450px;
}

