{% extends "base.html" %}latest iphone

{% block title %}How's Ryan?{% endblock %}

{% block content %}
    <div class="banner-container">
        <div class="title-container">
            <h1>How the Hell is Ryan?</h1>
            <p>a website to answer your important questions</p>
        </div>
        <div class="banner-wave-container">
            <svg class="banner-wave-curve" viewBox="0 0 500 150"preserveAspectRatio="xMinYMin meet">
                <path d="M-14.96,54.77 C149.26,22.20 399.83,-16.28 525.10,28.12 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill:#fff;"></path>
            </svg>
        </div>
    </div>
    <div class="weather-container">
        <h2>How's the weather?</h2>
        <p class="time-text">{{ current_time_vm.date }}</p>
        <p class="time-text">{{ current_time_vm.time }}</p>
        <p class="weather-text">{{ weather_data_vm.description }}</p>
        <p class="weather-text">Feels like {{ weather_data_vm.current_temp_c }}C / {{ weather_data_vm.current_temp_f }}F</p>
    </div>
    <div class="sketch-container">
        <img class="nz-sketch" src="{{ url_for('static', filename='new-zealand-map-with-icon-vector-illustration.jpg') }}">
    </div>
    <div class="ryan-container">
        <div class="ryan-wave-container">
            <svg class="ryan-wave-curve" viewBox="0 0 500 150"preserveAspectRatio="xMinYMin meet">
                <path d="M-10.44,24.17 C103.55,95.22 325.90,79.43 540.35,10.35 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill:#2D776A;"></path>
            </svg>
        </div>
        <div class="update-container top">
            <h2>How's he doing?</h2>
            <p>Current Wellbeing:</p>
            <p>{{ current_status_vm.mood }}</p>
            <p>Latest tweet:</p>
        </div>
        <div class="tweet-container">
                <div class="avatar-panel">
                    <a href={{ recent_tweet_vm.tweet_url }} target="_blank">
                        <img class="avatar" src="https://pbs.twimg.com/profile_images/1250244078530228224/lMziGXN3_400x400.jpg">
                    </a>
                </div>
                <div class="tweet-panel">
                    <div class="tweet-header">
                        <p class="text-username">Ryan Heitmann</p><span class="text-light">@HeitmannRyan</span><time class="text-light">{{ recent_tweet_vm.tweet_created }}</time>
                    </div>
                    <div class="tweet-body">
                        <p>
                            {{ recent_tweet_vm.tweet_text }}
                        </p>
                        <a href={{ recent_tweet_vm.tweet_url }} target="_blank">
                            <img class="tweet-media" src={{ recent_tweet_vm.tweet_img_url }}>
                        </a>
                    </div>
                </div>
            </div>
        <div class="update-container bottom">
            <h2>What's he doing?</h2>
            <p>Current Projects:</p>
            <p>{{ current_project_vm.project }}</p>
            <p>Current Read:</p>
            <p>{{ current_book_vm.title }}</p>
            <p>by {{ current_book_vm.author }}</p>
        </div>
        <div class="current-view-container">
            <h2>What's it look like?</h2>
            <div class="picture-container">
                <iframe class="live-stream" src={{ current_view_vm.url }} frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}